.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border-radius: 60px;
  background: linear-gradient(
    135deg,
    #a1c4fd,
    #c2e9fb
  ); /* Gradient background */
  padding: 20px;
  box-sizing: border-box;
}

.background-gradient {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(
    135deg,
    rgba(161, 196, 253, 0.5),
    rgba(194, 233, 251, 0.5)
  );
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1; /* Ensure content is above the background */
  text-align: center;
  color: #000;
  max-width: 600px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 30px;
}

.about-button {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.about-button:hover {
  background-color: #0056b3;
}
