body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background: linear-gradient(to bottom right, #a0e1f9, #f9a0e1);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.home {
  display: flex;
  flex-direction: column; /* Or row if needed */
  align-items: center; /* Centers items horizontally */
}

.home-container {
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #4a4a4a;
}

h2 {
  font-size: 1.5rem;
  color: #4a4a4a;
  margin-bottom: 2rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.home-button {
  padding: 1rem 2rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: transform 0.2s;
}

.chat {
  background-color: #ffeb3b; /* Yellow */
  color: #3f51b5; /* Dark Blue */
}

.faqs {
  background-color: #e1bee7; /* Light Purple */
  color: #3f51b5; /* Dark Blue */
}

.about {
  background-color: #b2ebf2; /* Light Blue */
  color: #3f51b5; /* Dark Blue */
}

.translator {
  background-color: #51c555; /* Light Green */
  color: #3f51b5; /* Dark Blue */
}

.logout {
  background-color: #ffccbc; /* Light Orange */
  color: #3f51b5; /* Dark Blue */
}

.home-button:hover {
  transform: scale(1.05);
}
